<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h1>1 2 3, Firebase configurado esta!</h1>
                <mat-card class="bg-transparent" style="width: 50%; margin:auto">
                        <mat-card-content class="text-left">
                            <mat-card class="mt-2"  style="background-color: black !important;">
                                <h6 class="font-orbitron" style="color: white;">
                                    Solamente es de seguir los pasos
                                </h6>
                            </mat-card>
                        </mat-card-content>
                    </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/u42czriQwE4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>