
<mat-grid-list cols="3" >
        <br>
        <mat-grid-tile-header>
            <h1 >Firebase Nosql</h1>
            <mat-grid-tile>
                <img  [ngClass]="{'animated pulse':moverAyuda}" style="display: block; display: block;" width="200px" height="200px" src="https://miro.medium.com/max/400/1*JktK87FL_sqDDnuxHxe6Fw.png" alt="">
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="bg-transparent">
                    <mat-card-header>
                        <h3 class="text-center font-sans" style="color:white;">Angular <i class="em em-heart" aria-role="presentation" [ngClass]="{'animated tada':moverAyuda}" aria-label="HEAVY BLACK HEART"></i> Firebase</h3>
                    </mat-card-header>
                    <mat-card-content class="text-justify font-raleway" style="color:white; font-size: 20px;">
                     Firebase es una base de datos NoSQL ofrecida por google, para poder realizar una integracion casi perfecta con cualquier front-end, mas en especial con su framework Angular, es una integracion casi perfecta.
                    </mat-card-content>
                 <mat-card-footer>
    
                <h6 class="text-center font-raleway" [ngClass]="{'animated tada':moverAyuda}" style="color:white; font-size: 20px;display: block;">
                        mas informacion presione la tecla de direccion derecha ->
                </h6>
                 </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                    <mat-card class="bg-transparent">
                        <mat-card-header>
                            <h3 class="text-center font-sans" style="color:white;">Serverless <i [ngClass]="{'animated tada':moverAyuda}" class="em em-heart_eyes" aria-role="presentation" aria-label="SMILING FACE WITH HEART-SHAPED EYES"></i></h3>
                        </mat-card-header>
                        <mat-card-content class="text-justify font-raleway" style="color:white; font-size: 20px;">
                        Firebase no solo se limita a almacenar los datos, su funcion para poder trabajar para aplicaciones front-end directamente, la hace muy poderosa, el serverless le queda muy bien.
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
        </mat-grid-tile-header>
    </mat-grid-list>
    
    
