
      <ul id="menu" class="text-right">
            <li data-menuanchor="firstPage"><a href="#firstPage">Inicio</a></li>
            <li data-menuanchor="secondPage"><a href="#secondPage">Angular</a></li>
            <li data-menuanchor="thirdPage"><a href="#thirdPage">Firebase</a></li>
            <li data-menuanchor="fourthPage"><a href="#fourthPage">Google Cloud</a></li>
            <li><a [routerLink]="'/inicio'" style="background-color: tomato !important; border-radius: 10px;">Salir</a></li>
        </ul>
        
        <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
            <div class="section">
                    <div class="area" >
                            <ul class="circles">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                            </ul>
                    </div >
                <app-slider-one-presentacion></app-slider-one-presentacion>
            </div>
            <div class="section segundaSlider">
                    <div class="slide">
               <app-slider-two-angular></app-slider-two-angular>
                        </div>
                        <div class="slide">
                                <app-slider-two-angular-two></app-slider-two-angular-two>
                        </div>
                        <div class="slide">
                                <app-slider-two-angular-three></app-slider-two-angular-three>
                        </div>
                        <div class="slide">
                            <app-slider-two-angular-four></app-slider-two-angular-four>
                    </div>
            </div>
            <div class="section terceraSlider">
                <div class="slide">
                              
                    <app-slider-three-firebase></app-slider-three-firebase>
                </div>
                <div class="slide">
                    <app-slider-three-firebase-two></app-slider-three-firebase-two>
                </div>
            </div>
            <div class="section tercerBackgroundCielo">
                    <div id='stars'></div>
                    <div id='stars2'></div>
                    <div id='stars3'></div>
                <div class="slide">
                        <app-slider-fourgoogle-cloud></app-slider-fourgoogle-cloud>
                </div>
                <div class="slide">
                        <app-slider-fourgoogle-cloud-two></app-slider-fourgoogle-cloud-two>
                </div>

                </div>
            
        </div>