<main>
        <mat-card id='agregarcard'> 
            <mat-card-title class="font-major">Agregar un nuevo usuario</mat-card-title>
            <mat-card-content>
                        <button mat-raised-button (click)="openDialog()" color="primary">
                                <span class="font-oldenburg">Agregar</span>
                        </button>
            </mat-card-content>
        </mat-card>
        <mat-grid-list cols="2" rowHeight="2:1" *ngIf="usuarios">
                        <mat-grid-tile *ngFor="let user of usuarios; let i = index">
                                <mat-card class="card-user" [style]="'background-color: '+i%2==0 ? 'hsl(203, 89%, 53%)': ''">
                                        <mat-card-title><span class="text-center"><span class="font-kodchasan">nombre usuario #{{(i+1)}}:</span> 
                                                <br>
                                                <span class="font-meera"> {{user.nombre}}</span></span></mat-card-title>
                                        <mat-card-content>
                                                        <img width="150px" height="150px" [src]="'https://api.adorable.io/avatars/face/'+user.avatar" alt="">
                                        </mat-card-content>
                                </mat-card>
                        </mat-grid-tile>
        </mat-grid-list>
</main>