<main>
        <mat-card id='agregarcard'> 
            <mat-card-title >Agregar un nuevo usuario</mat-card-title>
            <mat-card-content>
                    <form action="" [formGroup]="grupoFormulario" (ngSubmit)="onGuardar()">
                            <mat-form-field>
                                    <input matInput placeholder="Nombre Usuario" formControlName='nombre'>
                            </mat-form-field>
                            <mat-form-field>
                                    <input type="number" matInput placeholder="Edad Usuario" formControlName='edad'>
                            </mat-form-field>
                            <button type="submit" mat-button mat-raised-button color='primary' id='agregarButton'>Agregar</button>
                    </form>
            </mat-card-content>
        </mat-card>
</main>